body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: 'Roboto', sans-serif;
}

svg {
    display: block;
    margin: auto;
}

.sidebar {
    display: grid;
    grid-template-rows: 100px 350px 250px;
    background-color: #38bdf8;
    color: white;
    grid-row: 1/ 6;
    padding-left: 30px;
}

.middle_sidebar {
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.dashboard, .home, .profile, .message, .history, .task, .communities, .settings, .support, .privacy {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.header {
    grid-column: 2 / 6;
    box-shadow: 0 4px 2px -2px gray;
}

.content {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / 6 / 6;
}
